.main_wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.city_selector {
  text-align: center;
  margin-top: 50px;
  font-family: Arial, sans-serif;
  display: flex;
}

.dropdowns {
  display: flex;
  /*flex-direction: column;  Stack dropdowns vertically */
  align-items: center;
  gap: 15px; /* Spacing between dropdowns */
  margin-top: 20px;
}

.dropdown {
  padding: 10px;
  font-size: 16px;
  width: 200px;
  margin: 0px 10px;
}

.result {
  margin-top: 20px;
  font-size: 18px;
}

.highlight {
  font-weight: bold;
  font-size: 24px;
}

.fade {
  color: #888;
}
